.DS_Store
.cache
.ipynb_checkpoints/
.classpath
.project
.pyproject
.settings
.vscode
.idea
*.iml

/server/elasticsearch/data*
/server/elasticsearch/plugins/
.logana_server

/python/data/
/python/model/
*.pyc
.pydevproject


